<div>
  <%= flash[:notice] %>
</div>

<div class="container mt-5 justify-contents-center">
   <div class="row">
     <div class="mx-auto col-lg-2 col-lg-8 col-lg-2">
      <h1>welcome to <i class="fa-solid fa-book"></i><Strong>Bookers</Strong>!!</h1>
      <div class="col-12">
      <p>In <i class="fa-solid fa-book"></i><strong>Bookers</strong></p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>
      <%= link_to "Log in", new_user_session_path, class: 'd-block m-3 btn btn-primary' %>
      <%= link_to "Sign up",new_user_registration_path, class: 'd-block m-3 btn btn-success'%>
     </div>
    </div>
  </div>
</div>